body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Banner Section */
.banner {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 20px;
    height: 150px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    
    justify-content: center; 
    align-items: center;
    
}

/* .banner h1 {
    margin: 0;
} */

/* Featured Section */
.featured-section {
    display: flex;
     gap: 20px;
    padding: 100px;
    column-gap: 100px;
   grid-template-columns: repeat(2,1fr);
   margin-top: 56px 64px 56px 64px; 
   
}

.featured-item {
     flex: 1;
    background-color: #ffffff;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    overflow: hidden; 
    
}

.featured-item img {
    /* width: 500px;
    height: auto; */
    padding: 50px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.featured-item p{
    font-size: 26px;
}
.categories{
    margin-top: 10px;
}
.category-pill{
    display: inline-block;
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    
    font-size: 12px;
    margin: 5px 5px 0 0;
}


/* Grid Section */
.grid-section {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0px 100px 0px 100px;
}

.grid-item {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
     height: auto; 
    border-radius: 8px;
    margin-bottom: 10px;
}